.panning {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;
  cursor: pointer;

  &.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  img {
    max-width: none;
    height: auto;
  }
}
